/* Other rules */

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  margin-top: 20px;
}

input {
  outline: none;
}

input:focus-visible {
  outline-offset: 0px;
}

/* input[type="text" i] {
  padding: 1px 2px;
} */

button,
input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

/* Pagination */
.pagination {
  font-size: 20px;
  color: #2cb1ba;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .icon {
  font-size: 26px;
  margin: 0 6px;
}

header {
  height: 100px;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  position: fixed;
  top: 0;
}

.logo {
  height: 40px;
  margin-bottom: 20px;
}

header input {
  width: 590px;
  height: 40px;
  margin-left: 30px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 40px;
}

header .search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.search-prices {
  display: flex;
  align-items: center;
  margin: 12px 40px;
}
.search-prices span {
  font-size: 12px;
}
.search-prices input {
  width: 40px;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
}

header .search .icon {
  color: lightcoral;
  font-size: 18px;
  margin-left: 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  margin: auto;
}

header button {
  height: 30px;
  width: 115px;
  border: 6px ​solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  text-align: center;
  border: 1px solid #2cb1ba;
}

.button-login-signup {
  margin-right: 10px;
  background-color: white;
  color: #2cb1ba;
}

.logout {
  height: 30px;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  border: none;
  background-color: #c2175b;
  color: #fff;
}

.button-sold {
  background-color: #2cb1ba;
  color: white;
  margin-left: 20px;
}

.hero {
  margin-top: 100px;
  height: 455px;
  width: 100%;
  background-image: url(/src/assets/img/hero.jpeg);
  background-position: 50%;
  background-size: cover;
  margin-bottom: 30px;
}

.home-hero-ready {
  margin-top: 120px;
  margin-left: 40px;
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}
.home-hero-ready button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

.home-cards {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-card {
  width: 235px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.card-owner {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-owner > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.card-owner > span {
  color: #999;
  font-size: 12px;
}

.home-card-img-product {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-details span:first-child {
  font-size: 14px;
  font-weight: 300;
}

.card-details span:not(:first-child) {
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

.container-offer {
  margin-top: 100px;
  background-color: #eaedee;
  height: calc(100vh - 80px);
}
.offer {
  display: flex;
  justify-content: space-around;
  width: 1280px;
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
}

.offer-carousel {
  width: 400px;
  height: 600px;
}
.offer-picture {
  height: 600px;
  width: 400px;
  object-fit: cover;
}

.offer-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 40px;
  background-color: white;
}

.line-offer-detail {
  display: flex;
}

.line-offer-detail span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

.line-offer-detail span:nth-child(odd) {
  color: #999;
}

.offer-details .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.offer-name {
  font-weight: 700;
}

.offer-description {
  color: #666;
}

.offer-details button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}

.offer-owner {
  display: flex;
  align-items: center;
}

.offer-owner img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.offer-owner span {
  color: #6f6f6f;
}

/* Signup */
.form-div {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.signup-form {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.checkbox-div {
  margin-top: 20px;
  padding: 10px;
  display: flex;
}

.checkbox-div span {
  color: #666;
}
.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}
.conditions-news {
  padding: 10px;
  text-align: left;
  color: #999;
  font-size: 12px;
}

.signup-form button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
}

.form-div a {
  color: #2cb1ba;
  font-size: 12px;
}

.signup-login-error-message {
  color: red;
  font-size: 9px;
}

.signup-login-error-message-display {
  display: flex;
}

.signup-login-error-message-hidden {
  display: none;
}

.publish-container {
  background-color: #ebedee;
}
.publish {
  margin: 120px auto;
  width: 1280px;
}

.publish h2 {
  font-size: 24px;
  padding-top: 40px;
}

.publish-file {
  background-color: white;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.box-dashed {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-publish-file {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
  width: 200px;
}

.label-file {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: 700;
}

.label-file span {
  margin: 0 10px;
  vertical-align: middle;
}
.input-sign {
  font-size: 40px;
}
.input-file {
  display: none;
}

.text-input-section {
  background-color: white;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

/* .text-input-section > .text-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
  vertical-align: center;
} */

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: baseline;
}
.text-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
}

.text-input > textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.checkbox-section {
  width: 50%;
}
.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
  margin-bottom: 40px;
}

.form-button-div {
  display: flex;
  justify-content: flex-end;
}

.form-validation,
.save-offer {
  font: inherit;
  outline: inherit;
  padding: 12px;
}

.form-validation {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
}
